$align: left;
$colorDefaultW: #fff;
$colorDefaultB: #000;
$bgColor: #dedede;
$color1: rgb(26, 27, 39);
$color2: #999;
$color3: rgb(177, 96, 186);
$color4: rgb(223, 121, 175);
$color5: #1578e1;
$color6: #15e1b8;
$fontBig: 2.5rem;
$fontFamilyDefault: Arial, Helvetica, sans-serif;
$fontMedium: 2rem;
$fontNormal:1.8rem;
$fontSmall: 1.2rem;
$mb: 2rem;
$mt: 1rem;
$mt2: 2rem;
$spaceDefault: 1.5rem;