* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div, p {
    display: block;
}

header, section, footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
}

section, .container {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
    height: auto;
}

/* VARIAVEIS */
$align: left;
$bg-color: #dedede;
$color-01: rgb(26, 27, 39);
$color-02: #999;
$color-03: #f00;
$color-04: rgb(143, 155, 200);
$font-big: 2.5rem;
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2rem;
$font-normal:1.8rem;
$font-small: 1.2rem;
$mb: 2rem;
$mt: 1rem;
$mt-02: 2rem;

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: #444;
}

p {
    color: $color-01;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h1 {
    color: $color-01;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header, footer {
    background-color: $bg-color;
}

.blocks {
    h2 {
        color: $color-01;
    }

    ul {
        list-style-type: none;
        font-size: $font-small;
        display: block;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
    }

    li {
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        width: 30%;

        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: 100%;
        }

        a {
            background-color: $color-04;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
        }
    }
}

.bikes {
    h2 {
        color: $color-02;
    }

    ul {

    }

    li {
        color: $color-01;

        a {
            background-color: $color-03;
        }
    }
}