@import 'vars';



.bikes {

    margin-top: 70px;

    &__title {
        color: $color1;
    }

    &__item {
        color: $color1;
    }

    &__button {
        background-color: $color3;
    }
}