@import 'vars';
@import 'blocks';

.cars {

    &__title {
        color: $colorDefaultB;
    }

    &__item {
        background-color: $colorDefaultW;
        display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        &--destack {
            @include theme;
        }
    }

    &__description {
        &--destack {
            color: $colorDefaultW;
        }
    }
}
