@import 'vars';

.destack {
    background-color: $colorDefaultB;
    padding: $spaceDefault;
    margin: 17px -9.5px;

    &__title {
        color: $colorDefaultW;
        float: left;
        font-size: $fontBig;
        margin-top: 0;
        margin-left: $marginLeft;
    }

    &__subtitle {
        float: left;
        font-size: $fontSmall;
        margin-left: $spaceDefault;
        margin-top: $mt;
        color: $color5;
    }

    &__image {
        width: 96%;
        height: auto;
        margin: $spaceDefault 20px;
    }

    &__description {
        font-size: $fontNormal;
        color: $colorDefaultW;
        padding: 2rem 0;
        width: 100%;
        margin-left: $marginLeft;
    }
}