@import 'vars';

.header {
    background-color: $colorDefaultW;

    .container {
        display: flex;
        justify-content: center;
    }

    &__title {
        align-items: center;
        padding: 0;
    }
}